/* style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
#app {
    display: flex;

    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: #23ff46;
    color: white;
    text-align: center;
    padding: 1em;
}
nav {
    background-color: #4caf50;
}